body {
    background: url("./images/bg-items.png") #283640 repeat-x center top;
}

@font-face {
    font-family: 'Hankc';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff') format('woff');
}
p, li {
    font-size: 1.2rem;
    line-height: 2rem;
}
.header h1 {
    font-size: 3.5rem;
    font-weight: normal;
    color: #fff;
    width: 310px;
    margin: 40px auto  auto;
}

.header .subheader {
    font-family: 'Hankc', serif !important;
    font-size: 1.5rem;
    font-weight: normal;
    color: whitesmoke;
    margin: auto;
}

h2 {
    font-family: 'Hankc', serif !important;
    font-weight: 400;
}

h2.ui.header {
    display: inline-block;
    font-weight: normal;
    border-bottom: 3px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

iframe {
    margin: auto;
}
.header {
    text-align: center;
}
.header .title {
    padding:3.5em 0 0 0;
    text-align: center;
}
.header .link a{
    color: #ccc;
    display: inline-block;
    margin: 0.5em;
    padding: 5px;
    font-size: 1.1rem;
    border-bottom:2px solid #283640;
}
.header .link a:hover {
    border-bottom:2px solid #fff;
    color: #fff;
}

.ui.grid.segment {
    padding: 5rem 2rem;
}

.line {
    border-top: 2px dashed #283640;
    width: 100%;
    margin: 6rem 0;
}

.mov {
    width: 640px;
    margin: 3rem auto 0 auto;
}


img.illustrate {
    max-width: 400px;
    margin: 8rem 0 8rem 0;
}

img.illustrate.small{
    width: 100px;
    margin-right:357px;
}


.illustrate #graph {
    width: 500px;
}

.infographic {
    text-align: center;
}

.infographic img {
    margin-top: 2rem;
    max-width: 90%;
}

.video-container-root {
    max-width: 640px;
    margin: 10rem auto;
}

.video-container {
    max-width: 640px;
    padding-top: 56.25%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}


.video-container iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width : 1000px;
    }
}

@media only screen and (max-width: 723px) {
    .title img {
        width: 80%;
    }
    .header .title {
        padding:2em 0 0 0;
    }
    img.illustrate.small{
        width: 120px;
        margin-right:inherit;
    }
}
@media only screen and (max-width: 516px) {
    p{
        font-size:1.1rem;
    }
    body {
        background-size: 200% auto;
    }
    .icons li {
        margin: 0.2rem;
        font-size: 1.2rem;
    }
    img.illustrate {
        width: 100%;
    }

}
.supporter {
    padding-right:10rem;
}
.supporter .name{
    margin-bottom:0;
}

.supporter .profile{
    margin-bottom: 0;
    font-size:0.9rem;
}

.supporter .tech{
    font-size:0.9rem;
}
.btn{
    text-decoration: none;
    font-size:1.5rem;
    font-family: 'Hankc', serif;
    color:white;
    padding:20px;
    padding-top:25px;
    margin:20px;
    display:inline-block;
    border-radius: 10px;
    transition:all 0.1s;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
  }
  .btn:hover{
      color:white;
  }
  .btn:active{
    transform: translateY(3px);
  }
  .btn.blue{
    background-color: #1f75d9;
    border-bottom:5px solid #165195;
  }
  .btn.blue:active{
    border-bottom:2px solid #165195;
  }
  .btn.red{
    background-color: #ff521e;
    border-bottom:5px solid #c1370e;
  }
  .btn.red:active{
    border-bottom:2px solid #c1370e;
  }
